.catalog_class{
    font-family:Courier New;
    font-size:1.5em;
    background-color: #ffffff;
    width: 300px;
    height: 500px;
    float:left;
    border:1px solid #534545;
    border-radius: 20px;
    margin:7px 12px;
    position:relative
  }
.catalog_class p{
    font-family:"华文新魏";
    font-size:3em;
    color: #050505;
    text-align:center;
    line-height: 125px;
  }
.catalog_class img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    text-align:center;
    line-height: 125px;
    cursor: pointer;
}
.catalog_class strong{
    text-align:left;
    position:absolute;
    left: 10px;
    bottom:130px;
    font-size: 1.5em;
    color: red;
}
.catalog_class span{
    text-align:left;
    position:absolute;
    top:370px;
    left: 30px;
    right: 30px;
    font-size: 0.75em;
    color: #000000;
}
.catalog_class button {
    background-color: #ed2d22; /* Green */
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px ;
}

.catalog_class button:hover {background-color: #e93011
}

.catalog_class button:active {
    background-color: #e93011;
    box-shadow: 0 5px #e93011;
    transform: translateY(4px);
}

.finddiv button {
    display: inline-block;
    padding: 2px 15px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px #999;
}

.finddiv button:hover {background-color: #3e8e41}

.finddiv button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
