

.htable{
    font-family: "微软雅黑";
    font-size:20px;
    color:#333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}
.htable th {
    background: #878787;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}
.htable td {
    background:#dcddc0;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

.mtable {
    font-family: "宋体";
    font-size:20px;
    color:#333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}
.mtable th {
    background:#b5cfd2;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}
.mtable td {
    background:#dcddc0;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

/*button{*/
    /*font-family: "微软雅黑";*/
    /*font-size: 20px;*/
    /*font-weight:500;*/
    /*color: white;*/
    /*border: 0.5em groove rgba(19, 135, 4, 0);*/
    /*cursor: pointer;*/
    /*background-color: rgba(19, 135, 4, 0.53);*/
    /*height:40px;*/
    /*width: 80px;*/
/*}*/
button {
    display: inline-block;
    padding: 6px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

button:hover {background-color: #3e8e41}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}